.cart-empty {
    text-align: center;
    margin-top: 12em;
    margin-bottom: 12em;
}


.cart {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-totaltexto {
    font-weight: bold;
}

.img {
    height: 80px;
}

.form {
    margin-top: 3em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px){
    .cart {
        display: flex;
        flex-direction: column;
    }
}