.counter {
    display: flex;
    align-items: center;
    gap: 1em;
}

.counter-boton {
    height: 2em;
}

.counter-span {
    font-size: 20px;
    text-align: center;
}

.link {
    text-align: center;
    
}

@media screen and (max-width: 480px){
    .counter {
        margin-bottom: 1em;
    }
}