.link-cart {
    margin: 0.5em;
    align-self: center;
    background-color: white;
    border-radius: 50%;
  }

.itemQuantity {
  color: white;
}

.cartWidget {
  display: flex;
  align-items: center;
}