.card-container {
    margin-top: 3em;
    margin-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
}

.text {
    color: white;
}

@media screen and (max-width: 480px) {
    .card-container {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 3em;
        padding-right: 2em;
    }
  }